<div id="containerHomePage">
  <h1 id = "title">GoogleMap localization</h1>
  <agm-map 
    [latitude]="lat"
    [longitude]="lng"
    [zoom]="zoom"
    [disableDefaultUI]="false"
    [zoomControl]="false"
    (mapClick)="mapClicked($event)">

  
  <agm-marker *ngFor="let new_place of newPlaces"
    [latitude]="new_place.lat"
    [longitude]="new_place.lng">
  </agm-marker>


  </agm-map>

  
    <input class = "button buttonMapSize" id = "plus" type = "button" (click) = "zoomIn()" value = "+">
    <input class = "button buttonMapSize" id = "minus" type = "button" (click) = "zoomOut()" value = "-">  
    <div class = "button" id = "sendData" (click) = "sendData()">
      <span class="tooltip">Send data about markers to the server.</span>
      Send data
    </div> 


  <div id = "pointedPlaces"> 
    <ol>
      <li  *ngFor="let pointedPlaces of newPoinedPlaces" 
       (click) = "addMarkerPoinedPlaces(pointedPlaces.lat, pointedPlaces.lng)" 
       (mouseenter) = "showImage(pointedPlaces.image)">
       {{pointedPlaces.name_place}}
      </li>
    </ol>
  </div>
  <div id = "imageArea" *ngIf = imageOfPlace>
    <img src = {{imageOfPlace}} />
  </div>
</div>